svg g path {
    width: 100%;
    height: 100%;
}

svg g .ending {
    fill: var(--orange);
}

svg g .running {
    fill: var(--blue);
}

svg g .proposed {
    fill: var(--white);
}

.text {
    fill: var(--white);
    font-family: Poppins;
}